.menu-summary {
  height: 100%;
  min-height: 460px;
  background-color: #03933f;

  display: flex;
}
.menu-summary-task {
  border-bottom: 2px dotted white;
  display: flex;
}
.clean-summmary {
  height: 40px;
  margin: auto auto 15px auto;
  background-color: #fc1b1b;
  border: #fc1b1b;
  border-radius: 4px;
  color: white;
}

.clean-summmary:hover {
  background-color: #f20909;
  border-radius: 4px;
}
