body {
  font-family: "Poiret One", cursive !important;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

h1,
h2 {
  font-family: "Kalam", cursive;
  padding-top: 2vh;
}

.menu {
  background-color: #0080b7;
  height: 100%;
  min-height: 100vh;
}

.app-tasks {
  background-color: #ffe066;
  margin: 0;
  text-align: center;
  color: black;
  height: 100%;
  min-height: 100vh;
}
